.banner{
  background-color: #FFA725;
  margin: 10px;
  height: 55vh;
  border-radius: 25px;
  padding: 10px;
}
.product-category h1{
  color: #ffff;
  font-size: 5em;
  font-weight: 700;
}
.banner-image img{
 width: 200px;
}
.banner-button button{
  padding: 5px;
  background-color: black;
  border-radius: 10px;
  color: #ffff;
  font-weight: 500;
}
@media only screen and (max-width:900px){
  .product-category h1{
    font-size: 3em;
    text-wrap: nowrap;
  }
}


@media only screen and (max-width:572px){
  .product-category h1{
    font-size: 2em;
    text-wrap: nowrap;
  }.banner-image img{
    width: 150px;
  }.banner-image{
    padding-right: 20px;
  }
}
@media only screen and (max-width:430px){
  .product-category h1{
    font-size: 25px;
    text-wrap: nowrap;
  }.banner-image{
    padding-right: 20px;
  }.banner{
    height: 30vh;
  }.banner-button button{
    padding: 5px;
    font-size: 10px;
  }
}