.banner{
  background-color: #FFA725;
  margin: 10px;
  height: 50vh;
  border-radius: 25px;
  padding: 20px;
}
.product-category h1{
  color: #ffff;
  font-size: 5em;
  font-weight: 700;
}
.banner-image img{
 width: 200px;
}
.banner-button button{
  padding: 5px;
  background-color: black;
  border-radius: 10px;
  color: #ffff;
  font-weight: 500;
}